* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000000;
  --secondary-color: hotpink;
  --3rd-color: antiquewhite;
  --background-color: lightblue;
}

/* body {
  background: var(--background-color);
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

ol {
  display: flex;
  align-items: center;
}

h1 {
  display: none;
}

.cover {
  transform-style: preserve-3d;
  perspective: 400px;
}

.front {
  width: 200px;
  height: 300px;
  background: var(--primary-color);
  transform: rotateY(-15deg);
}

.front::after {
} */

main {
  perspective: 100em;
  transform-style: preserve-3d;

  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

div {
  display: grid;
  grid-column-start: 2;
  /* grid-row-start: 1; */
  width: fit-content;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 1s;
}

section {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 40vw;
  aspect-ratio: 3/5;
  background-color: var(--3rd-color);
  backface-visibility: hidden;

  &:nth-of-type(2) {
    rotate: y 180deg;
  }
}

body:hover div {
  rotate: y -180deg;
}

/* .animate div {
  rotate: y -180deg;
} */

@keyframes;
